* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

header {
    position: sticky;
    top: 10px;
    display: flex;
    width: 100%;
    padding: 20px 24px;
    background-color: #4e95d5;
    border-radius: 12px;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    position: relative;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

a:hover {
    opacity: 0.8;
}

a::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    opacity: 0;
    background-color: #FFF;
    transition: 0.25s ease-in-out;
}

a:hover::before {
    width: 100%;
    opacity: 1;
}

main {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

label {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 250px));
    gap: 12px;
}

input {
    padding: 4px 12px;
    border-radius: 8px;
    transition: 0.25s ease-in-out;
}

input:hover {
    box-shadow: 0 0 6px #0000003D;
}

button, .button {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #65aae8;
    border: 1px solid #4e95d5;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

button.danger, .button.danger {
    background-color: #d64d4d;
    border-color: #b83f3f;
}

button.ghost, .button.ghost {
    background-color: #ffffff;
    border-color: #4c7ba6;
    color: #4c7ba6;
}

button:hover {
    box-shadow: 0 0 6px #0000003D;
    opacity: 0.8;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.message {
    font-size: 14px;
    font-family: sans-serif;
    color: #4ca6a6;
}

.error {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    color: #d64d4d;
}